@using PagedList.Mvc
@using PagedList
@model IPagedList<TenantMNG.Models.tbl_invoice>
@{
    ViewBag.Title = "TenantActivity";
    Layout = "~/Views/Shared/_LayoutTenant.cshtml";
}
@section scriptstop
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("#s_date").datepicker({
                //maxDate: 'today',
                orientation: "bottom auto",
                autoclose: true,
                dateFormat: 'yy/mm/dd', // Set the date format
                constrainInput: false, // Client can directly modify date in textbox?
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate());
                    $("#e_date").datepicker("option", "minDate", dt);

                }
            });

            $("#e_date").datepicker({
                // maxDate: 'today',
                autoclose: true,
                orientation: "bottom auto",
                dateFormat: 'yy/mm/dd', // Set the date format
                constrainInput: false,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate());

                    $("#s_date").datepicker("option", "maxDate", dt);


                }// Client can directly modify date in textbox?
            });

            $("#select-tenant").on("hidden.bs.modal", function () {

                document.location.reload();

            });


        });
    </script>
}
<div class="modal hide fade in" id="pnloption">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@TenantMNG.Resource.select_option</h4>
        </div>
        <div class="modal-body">
            <p>@TenantMNG.Resource.get @TenantMNG.Resource.invoice</p>

            @using (Html.BeginForm("Download", "Tenant", FormMethod.Get))
            {
                @*@Html.ActionLink(Resource.preview, "ViewPDF", new { controller = "Tenant" }, new { target = "_blank", @class = "btn btn-info" })*@
                <input type="submit" class="btn btn-primary" value="@TenantMNG.Resource.download" />
            }
        </div>

    </div>

</div>
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Dashboard", "Tenant")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> @TenantMNG.Resource.home</a> <a href="#" class="current">@TenantMNG.Resource.tenant_actitivy_log</a> </div>
</div>


<div class="container-fluid">
    <div class="modal hide fade in" id="edit-person">
        <div id="edit-person-container"></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>@TenantMNG.Resource.tenant_actitivy_log</h5>
                </div>
                <div class="widget-content">

                    @if (Model.ToList().Count == 0)
                    {
                        <div class="alert alert-info">
                            @TenantMNG.Resource.sorry_mess
                        </div>
                    }
                    else
                    {

                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    @*<th>@Html.ActionLink("Date", "Invoice", new { sortby = ViewBag.SortDateParameter, page = Request["page"], tenantid = Request["tenantid"] })</th>*@
                                    <th>@TenantMNG.Resource.date</th>
                                    <th>@TenantMNG.Resource.tenant</th>
                                    <th>@TenantMNG.Resource.meter @TenantMNG.Resource.name</th>
                                    <th>@TenantMNG.Resource.bill_period</th>
                                    <th>@TenantMNG.Resource.tax</th>
                                    <th>@TenantMNG.Resource.total_amt</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr class="gradeX">
                                        @*<td><input id="ckechbox" type="checkbox" onchange="Checkbox(@user.int_invoice_id)" /></td>*@
                                        <td>@string.Format("{0:MM-dd-yyyy}", user.date_invoice_date)</td>
                                        <td>@user.tbl_user_master.str_comp_name</td>
                                        <td>@TenantMNG.Core.CommonCls.getMeterNamefromId(user.tbl_invoice_details.ElementAt(0).int_meter_id)</td>
                                        <td>@string.Format("{0:MM-dd-yyyy}", user.date_s_bill_date) TO @string.Format("{0:MM-dd-yyyy}", user.date_e_bill_date)</td>
                                        <td>@string.Format("{0:0.00}", user.dec_tax_amt)</td>
                                        <td>@string.Format("{0:0.00}", user.dec_total)</td>
                                        <td>@Html.ActionLink(TenantMNG.Resource.get + " " + TenantMNG.Resource.invoice, "GeneratePDF", new { @id = user.int_invoice_id }, new { @class = "btn btn-warning btn-mini" }) </td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                        @Html.PagedListPager(Model, page => Url.Action("TenantActivity", "Tenant", new { tenantid = Request["tenantid"], page }),
                            new PagedListRenderOptions() { DisplayPageCountAndCurrentLocation = true })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var msg = '@ViewBag.Message';

        if (msg && msg.length > 0) {


            $('#pnloption').modal('show');
        }

    </script>


}