@model TenantMNG.ViewModel.InvoiceVM

@{
    ViewBag.Title = "CreateInvoice";
    Layout = "~/Views/Shared/_LayoutPM.cshtml";
}

@section scriptstop
{
    <script>
        $(function () {


            $("#date_s_bill_date").datepicker({

                orientation: "bottom auto",
                autoclose: true,
                dateFormat: 'yy/mm/dd', // Set the date format
                constrainInput: false, // Client can directly modify date in textbox?

                onSelect: function (selected) {

                    var dt = new Date(selected);




                    var period = $("#int_invoice_period").val();

                    period = 3;

                    if (period == 1)
                        dt.setDate(dt.getDate() + 7);
                    else if (period == 2)
                        dt.setDate(dt.getDate() + 15);
                    else if (period == 3) {

                        dt.setMonth(dt.getMonth() + 1);
                        dt.setDate(dt.getDate() - 1);

                    }



                    var dd = dt.getDate();
                    var mm = dt.getMonth() + 1;
                    var yy = dt.getFullYear();

                    $("#date_e_bill_date").val(yy + "/" + mm + "/" + dd);



                    if (($("#date_e_bill_date").val().length > 0) && ($("#date_s_bill_date").val().length > 0))
                        getEnergyData();



                }
            });

            $("#date_e_bill_date").datepicker({

                autoclose: true,
                orientation: "bottom auto",
                dateFormat: 'yy/mm/dd', // Set the date format
                constrainInput: false,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate());

                    $("#date_s_bill_date").datepicker("option", "maxDate", dt);

                    if (($("#date_s_bill_date").val().length > 0) && ($("#date_e_bill_date").val().length > 0))
                        getEnergyData();
                }// Client can directly modify date in textbox?
            });

            $("#date_pay_date").datepicker({
                minDate: 'today',
                orientation: "bottom auto",
                autoclose: true,
                dateFormat: 'yy/mm/dd', // Set the date format
                constrainInput: false, // Client can directly modify date in textbox?

            });


        });

        function getEnergyData() {




            var tenantenergy = {};

            tenantenergy.date_s_bill_date = $('#date_s_bill_date').val();
            tenantenergy.date_e_bill_date = $('#date_e_bill_date').val();
            tenantenergy.str_meter_id = $('#str_meter_id').val();
            tenantenergy.str_peak_s_time = $('#str_peak_s_time').val();
            tenantenergy.str_peak_e_time = $('#str_peak_e_time').val();
            tenantenergy.str_inter_s_time = $('#str_inter_s_time').val();
            tenantenergy.str_inter_e_time = $('#str_inter_e_time').val();
            tenantenergy.int_tenant_id = $('#int_tenant_id').val();
            tenantenergy.int_invoice_id = $('#int_invoice_id').val();

            tenantenergy.dec_peak_energy_rate = $('#dec_peak_energy_rate').val();
            tenantenergy.dec_inter_energy_rate = $('#dec_inter_energy_rate').val();
            tenantenergy.dec_base_rate = $('#dec_base_rate').val();

            tenantenergy.demanda_base = $('#demanda_base').val();
            tenantenergy.demanda_intermedia = $('#demanda_intermedia').val();
            tenantenergy.demanda_punta = $('#demanda_punta').val();


            var options = {};
            options.url = '@Url.Action("getEnerge", "PM")';
            options.type = "POST";
            options.data = JSON.stringify(tenantenergy),
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (data) {

                //var _totalamt = 0;
                var transmision_base = 0;
                var transmision_intermedia = 0;
                var transmision_punta = 0;
                var energiaactiva = 0;
                var energiareactiva = 0;


                var row = "";
                $.each(data, function (index, item) {



                    //row += "<tr><td>" + item.metername + "</td><td>" + item.dec_peak_energy + "</td><td>" + item.dec_peak_energy_rate + "</td><td>" + item.energiaactiva + "</td>";
                    //row += "<td>" + item.dec_inter_energy + "</td><td>" + item.dec_inter_energy_rate + "</td><td>" + item.energiareactiva + "</td>";
                    //row += "<td>" + item.dec_base_energy + "</td><td>" + item.dec_base_rate + "</td><td>" + item.dec_base_amt + "</td></tr>";

                    //_totalamt = _totalamt + (item.dec_base_amt + item.dec_peak_energy_amt + item.dec_inter_energy_amt);
                    transmision_base = transmision_base + item.dec_base_energy;
                    transmision_intermedia = transmision_intermedia + item.dec_inter_energy;
                    transmision_punta = transmision_punta + item.dec_peak_energy;
                    energiaactiva = energiaactiva + item.energiaactiva;
                    energiareactiva = energiareactiva + item.energiareactiva;

                });
                $("#contacts").html(row);
                //$("#datatable_orders").show();

                finalTotal(transmision_base, transmision_intermedia, transmision_punta, energiaactiva, energiareactiva);
            };
            options.error = function () {

            };
            $.ajax(options);
        }

        function finalTotal(transmision_base, transmision_intermedia, transmision_punta, energiaactiva, energiareactiva) {

            var energia_activa = 0;
            var energia_reactiva = 0;

            //Checar si energia base, intermedia, punta y energia reactiva tienen valores introducidos por el usuario. Si no, podemos actualizar con los valores en la BD
            //Energia Base, Intermedia y Punta, tienen los mismos valores que Transmisitón Base, Intermedia y Punta y Operación Base, Intermedia y Punta.
            if (!$('#dec_base_energy').val())
                $('#dec_base_energy').val(Number(transmision_base));
            if (!$('#dec_inter_energy').val())
                $('#dec_inter_energy').val(Number(transmision_intermedia));
            if (!$('#dec_peak_energy').val())
                $('#dec_peak_energy').val(Number(transmision_punta));
            if (!$('#energia_reactiva').val())
                $('#energia_reactiva').val(Number(energiareactiva));

            var dec_base_energy = Number($('#dec_base_energy').val());
            var dec_inter_energy = Number($('#dec_inter_energy').val());
            var dec_peak_energy = Number($('#dec_peak_energy').val());

            if (!Number.isNaN(energiaactiva))
                energia_activa = energiaactiva;
            else
                energia_activa = dec_base_energy + dec_inter_energy + dec_peak_energy;

            if (!Number.isNaN(energiareactiva))
                energia_reactiva = energiareactiva;
            else
                energia_reactiva = Number($('#energia_reactiva').val());

            // Cálculo de Distribucion
            var maxdemanda = Math.max($('#demanda_base').val(), $('#demanda_intermedia').val(), $('#demanda_punta').val());
            var start_date = new Date($('#date_s_bill_date').val());
            var end_date = new Date($('#date_e_bill_date').val());
            var periodo_dias = Math.floor((end_date.getTime() - start_date.getTime()) / (1000 * 60 * 60 * 24));
            var dias_mes = new Date(end_date.getFullYear(), end_date.getMonth() + 1, 0).getDate();
            var factor_mes = roundUp((periodo_dias / dias_mes), 4);
            var demanda_cargo = roundUp(((dec_base_energy + dec_inter_energy + dec_peak_energy) / (24 * periodo_dias * 0.57)), 0);
            var mindemanda = Math.min(maxdemanda, demanda_cargo);
            var distribucion = $('#distribucion').val() * mindemanda * factor_mes;

            // Cálculo Suministro
            var suministro = Number($('#suministro').val()) * factor_mes;

            // Cálculo de Transmision (cambié energía por transmisión, ya que tienen los mismos valores)
            var precio_tranmisionbase = dec_base_energy * $('#tarifa_transmision').val();
            var precio_tranmisionintermedia = dec_inter_energy * $('#tarifa_transmision').val();
            var precio_tranmisionpunta = dec_peak_energy * $('#tarifa_transmision').val();
            var transmision = precio_tranmisionbase + precio_tranmisionintermedia + precio_tranmisionpunta;

            // Cálculo CENACE (cambié energía por transmisión, ya que tienen los mismos valores)
            var precio_cenace_base = dec_base_energy * $('#operacion_cenace').val();
            var precio_cenace_intermedia = dec_inter_energy * $('#operacion_cenace').val();
            var precio_cenace_punta = dec_peak_energy * $('#operacion_cenace').val();
            var cenace = precio_cenace_base + precio_cenace_intermedia + precio_cenace_punta;

            // Cálculo de Energía (cambié energía por transmisión, ya que tienen los mismos valores)
            var precio_energiabase = dec_base_energy * $('#dec_base_rate').val();
            var precio_energiaintermedia = dec_inter_energy * $('#dec_inter_energy_rate').val();
            var precio_energiapunta = dec_peak_energy * $('#dec_peak_energy_rate').val();
            var energia = precio_energiabase + precio_energiaintermedia + precio_energiapunta;

            // Cálculo de Capacidad
            var capacidad = (Math.min($('#demanda_punta').val(), demanda_cargo) * $('#capacidad').val()) * factor_mes;

            // Cálculo CRE Servicios Conexos (SCnMEM) (cambié energía por transmisión, ya que tienen los mismos valores)
            var precio_sc_base = dec_base_energy * $('#cre_servicios_conexos').val();
            var precio_sc_intermedia = dec_inter_energy * $('#cre_servicios_conexos').val();
            var precio_sc_punta = dec_peak_energy * $('#cre_servicios_conexos').val();
            var servicios_conexos = precio_sc_base + precio_sc_intermedia + precio_sc_punta;

            // Cálculo de % de Bonificación
            var factor_de_potencia = roundUp((energia_activa / Math.sqrt((energia_activa ** 2) + (energia_reactiva ** 2))), 4);
            var porciento_bonificacion = (factor_de_potencia >= 0.9) ? -1 * (roundUp((25 * (1 - (0.9 / factor_de_potencia))), 1)) : 0;
            var penalizacion_factor_de_potencia = Math.min(120, ((factor_de_potencia < 0.9) ? roundUp((60 * ((0.9 / factor_de_potencia) - 1)),1) : 0));

            // Total de la Factura
            var dos_porciento_baja_tension = (suministro + distribucion + transmision + cenace + energia + capacidad + servicios_conexos) * 0.02;
            var calculo_energia = (distribucion + transmision + cenace + energia + capacidad + servicios_conexos);
            var energia_total = (calculo_energia + suministro);
            var bonificacion_factor_potencia = porciento_bonificacion * (energia_total / 100);
            var penalizacion_factor_potencia = energia_total * (penalizacion_factor_de_potencia / 100);

            var finalamount = calculo_energia + bonificacion_factor_potencia + penalizacion_factor_potencia + suministro;
            var taxval = ((finalamount) * 16) / 100;
            finalamount = finalamount + taxval;


            $('#precio_suministro').val(Number(suministro).toFixed(2));

            $('#precio_distribucion').val(Number(distribucion).toFixed(2));

            $('#precio_transmision').val(Number(transmision).toFixed(2));

            $('#precio_cenace').val(Number(cenace).toFixed(2));

            $('#precio_energia').val(Number(energia).toFixed(2));

            $('#precio_capacidad').val(Number(capacidad).toFixed(2));

            $('#precio_cre_servicios_conexos').val(Number(servicios_conexos).toFixed(2));

            $('#precio_dos_porciento_baja_tension').val(Number(dos_porciento_baja_tension).toFixed(2));

            $('#precio_decuento_bonificacion').val(Number(bonificacion_factor_potencia).toFixed(2));

            $('#dec_tax_amt').val(Number(taxval).toFixed(2));

            $('#dec_total').val(Number(finalamount).toFixed(2));

            $('#dec_base_amt').val(Number(precio_energiabase).toFixed(2));

            $('#dec_inter_energy_amt').val(Number(precio_energiaintermedia).toFixed(2));

            $('#dec_peak_energy_amt').val(Number(precio_energiapunta).toFixed(2));

            $('#energia_activa').val(Number(energia_activa).toFixed(2));



            //}
        }

        function roundUp(number, digits) {
            var factor = Math.pow(10, digits);
            return Math.ceil(number * factor) / factor
        }

    </script>
}

<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Dashboard", "PM")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> @TenantMNG.Resource.home</a> <a href="@Url.Action("Tenant", "PM")" class="tip-bottom">@TenantMNG.Resource.tenant</a> <a href="#" class="current">@TenantMNG.Resource.create_single</a> </div>

</div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Facturaci&oacute;n Medidor  <B>@Model.str_meter_id</B></h5>
                </div>
                <div class="widget-content nopadding">

                    @Html.AntiForgeryToken()

                    <div class="widget-title">
                        <ul class="nav nav-tabs" id="tabsinvoice">
                            <li class="active"><a data-toggle="tab" href="#tab1">@TenantMNG.Resource.invoice_meters</a></li>
                            <li><a id="a1" data-toggle="tab" href="#tab2">@TenantMNG.Resource.enter_rates</a></li>
                        </ul>
                    </div>

                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane active">
                            @Html.Partial("_CreateInvoice", Model)
                        </div>
                        <div id="tab2" class="tab-pane">
                            @Html.Partial("_ModifyRates", Model)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

