@using PagedList.Mvc
@using PagedList
@model IPagedList<TenantMNG.Models.tbl_invoice>

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutPM.cshtml";
}

@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Dashboard", "PM")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> @TenantMNG.Resource.home</a> <a href="@Url.Action("Tenant", "PM")" class="tip-bottom">@TenantMNG.Resource.tenant</a> <a href="#" class="current">@TenantMNG.Resource.invoice</a> </div>

</div>
<div class="container-fluid">


    <div class="modal hide fade in" id="edit-person">
        <div id="edit-person-container"></div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>@TenantMNG.Resource.tenant_inv_list</h5>
                </div>
                <div class="widget-content">

                    @Html.AntiForgeryToken()


                    @Html.ActionLink(TenantMNG.Resource.create_single, "CreateInvoice", "PM", new { @tenantid = Request["tenantid"] }, new { @class = "btn btn-primary" })

                    @*@Html.ActionLink(TenantMNG.Resource.create_multi, "CreateMultipleInvoice", "PM", new { @tenantid = Request["tenantid"] }, new { @class = "btn btn-primary" })*@
                    <br />

                    <br />
                    @if (Model.ToList().Count == 0)
                    {
                        <div class="alert alert-info">
                            @TenantMNG.Resource.sorry_mess
                        </div>
                    }
                    else
                    {

                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>@Html.ActionLink(TenantMNG.Resource.date, "Invoice", new { sortby = ViewBag.SortDateParameter, page = Request["page"], tenantid = Request["tenantid"] })</th>

                                    <th>@Html.ActionLink(TenantMNG.Resource.pay_date, "Invoice", new { sortby = ViewBag.SortDateParameter, page = Request["page"], tenantid = Request["tenantid"] })</th>
                                    <th>@TenantMNG.Resource.bill_period</th>

                                   
                                    <th>@TenantMNG.Resource.tax</th>
                                    <th>@Html.ActionLink(TenantMNG.Resource.total_amt, "Invoice", new { sortby = ViewBag.SortAmountParameter, page = Request["page"], tenantid = Request["tenantid"] })</th>
                                    <th>@TenantMNG.Resource.edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr class="gradeX">

                                        <td>@string.Format("{0:MM-dd-yyyy}", user.date_invoice_date)</td>
                                        <td>@string.Format("{0:MM-dd-yyyy}", user.date_pay_date)</td>
                                        <td>@string.Format("{0:MM-dd-yyyy}", user.date_s_bill_date) TO @string.Format("{0:MM-dd-yyyy}", user.date_e_bill_date)</td>
                                       
                                      
                                        <td>@user.dec_tax_amt</td>
                                        <td>@user.dec_total</td>
                                        <td>
                                            @*@if (user.bit_is_editable == true)
                                            {
                                                @Html.ActionLink(TenantMNG.Resource.edit, "EditInvoice", new { @id = user.int_invoice_id }, new { @class = "btn btn-mini btn-success" })
                                            }*@
                                            @Html.ActionLink(TenantMNG.Resource.delete, "DeleteInvoice","User", new { @id = user.int_invoice_id, @tenantid = Request["tenantid"] }, new { @class = "btn btn-mini btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @Html.PagedListPager(Model, page => Url.Action("Invoice", new { tenantid = Request["tenantid"], page }),
                            new PagedListRenderOptions() { DisplayPageCountAndCurrentLocation = true })
                    }
                </div>
            </div>
        </div>
    </div>
</div>
