@model TenantMNG.ViewModel.UserMasterVM

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    if (ViewBag._errorcode == 0)
    {
        <div class="alert alert-danger">@TenantMNG.Resource.msg_global_fail</div>
    }
    else if (ViewBag._errorcode == 1)
    {
        <div class="alert alert-success">@TenantMNG.Resource.msg_change_pass_success</div>
    }


        <div class="control-group">
            <label class="control-label">Old Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.str_password, new { @class = "span11", AutoCompleteType = "Disabled" })
                @Html.ValidationMessageFor(m => m.str_password)
            </div>
        </div>
    <div class="control-group">
        @Html.LabelFor(m => m.str_new_password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.str_new_password, new { @class = "span11" })
            @Html.ValidationMessageFor(m => m.str_new_password)
        </div>
    </div>
    <div class="control-group">
        <label class = "control-label">Confirm Password</label> 
        <div class="controls">
            <input type="password" class="span11" placeholder="Confirm Password" id="confirm_password" required>
        </div>
    </div>


        <br />
        @Html.HiddenFor(m => m.int_id)

        <div class="form-actions">
            <input type="submit" class="btn btn-success" value="@TenantMNG.Resource.change" />
            @Html.ActionLink(TenantMNG.Resource.close, "ChangePassword", "User", new { @class = "btn btn-default" })
        </div>
        }


